---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About the Research Team"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	updatedDate={new Date('August 08 2022')}
>
	<p>
		We are all based at the University of Iceland's Volcanology and Natural Hazards Research Group
		and have decades of collective experience of studying active and historical eruptions both in
		Iceland and abroad.
	</p>

	<p>
		<b>Professor Thor Thordarson</b> is the Principle Investigator on this research project. Thor is a
		Professor of Volcanology and Petrology at the Faculty of Earth Sciences. He has studied
		Icelandic volcanoes for over 30 years and has been instrumental in research on the physical
		volcanology of effusive and explosive eruptions in Iceland including long- and sort-term magma
		evolution, plumbing system dynamics plus their environmental and climatic effects. Current
		research is centred on physical volcanology, volcanic stratigraphy, shallow conduit processes
		and timescales of magmatic processes within selected historic, Holocene and Neogene volcanic
		systems in Iceland.
	</p>

	<p>
		<b>Professor Ármann Höskuldsson</b> is the Co-Principle Investigator. Ármann is a Research Professor
		in Volcanology and Petrology at the Institute of Earth Sciences. He has studied Icelandic
		volcanoes and volcanism in the North Atlantic for over 30 years and has been instrumental
		in research on the physical #volcanology of effusive and explosive eruptions in Iceland,
		Chile, Mexico, Reunion, Capo Verde, Canaries and Jan Mayen. Current research is focused on
		physical volcanology, volcanic stratigraphy, shallow conduit processes and submarine magmatic
		processes within selected historic, Holocene and Neogene volcanic systems in Iceland and the
		North Atlantic.
	</p>

	<p>
		<b>Dr William Moreland</b> is a post-doctoral research associate on this project. Will completed his
		PhD at the University of Iceland in 2017 where he studied the explosive phases of the 10th
		century Eldgjá fissure eruption under the supervision of Thor. After a two-year postdoctoral
		position at INGV in Catania, Sicily, studying the 122 BC basaltic Plinian eruption of Etna,
		he returned to Iceland to put down roots. 
	</p>

</Layout>
