---
import Layout from '../layouts/MapPage.astro';
---

<Layout
	title="Map"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	updatedDate={new Date('August 08 2022')}
	heroImage="/eldgja/Fig1_map.png"
>
	<p>
		The map above shows the location of the Eldgjá vent system and lava flow fields in South Iceland.
        Individual vent segments are labelled and the names of individual portions of the 
        lava flow fields are shown. The dashed black lines are isopachs for the whole-eruption tephra fall
		deposit with black numbers being the thickness in centimetres.
	</p>
</Layout>
